/* UNIVERSAL STYLES */
body {
  font-family: 'Raleway', sans-serif;
  background-color: whitesmoke;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

/* img {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

/* HEADER STYLES */
#header {
  padding-top: 3em;
}

.flexbox-header {
  display: flex;  
  /* flex-direction: row; */
  flex-wrap: no-wrap;
  /* justify-content: space-around; */
  /* align-items: center;   */
  /* background-color: orange;
  border: 5px solid red; */
}

.nav-link {
  list-style: none;
  display: inline-block;
  font-weight: 400;
}

.nav-link:nth-child(2), .nav-link:nth-child(3) {
  margin-left: 3em;
}
.nav-link:nth-child(1), .nav-link:nth-child(2) {
  margin-right: 3em;
}

#logo-div {
  margin-right: 10%;
  width: 50%;
  margin-left: 2em;
  /* background-color: yellow; */
}

#header-img {
  width: 50%;
  display: block;
  /* background-color: pink; */
}

/* nav ul li {
  list-style: none;
  display: inline-block;
} */