/* UNIVERSAL STYLES */
body {
  background-color: whitesmoke;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

/* img {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

/* HEADER STYLES */
#header {
  padding-top: 3em;
}

.grid-container-header {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: auto; 
  justify-content: space-between;
  background-color: orange;
}

#header-img {
  width: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: pink;
}

.header-grid-item1 {
  background-color: yellow;
  justify-self: start;
}

.header-grid-item2 {
  background-color: lightblue;
}

.nav-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*background-color: orange;*/
}

.nav-grid-item1 {
 /* grid-column: 1 / 4;*/
}


li.nav-link {
  list-style-type: none;
  /*float: right;
  display: inline;
  padding: 0 2em 2em 0;*/

}
